node_modules
node_modules/
/dist
/node_modules
/dist/
.DS_Store
*.log
.env
.env.local
*.local
!.env.production
*.cache
*.tmp
*.bak
*.swp
*.swo
.idea
.vscode
*.sublime-project
*.sublime-workspace
coverage/

# make-folder-txt
.txtconfig
.txtignore
website.txt
